# backend/.env
NODE_ENV=development
PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/codeiiest  # or Mongo atlas
JWT_SECRET=


GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
G_SUITE_DOMAIN=students.iiests.ac.in 


FRONTEND_URL=http://localhost:3000